.facts-item {
  position: relative;
}

.facts-item:last-child {
  animation: fadeIn .3s ease;
}

.error {
  color: #d83030;
  font-weight: bold;
}

.header {
  color: #fff;
}

.text {
  color: #b3b2b2;
}

.highlight {
  color: #00ffac;
}

@keyframes fadeIn {
  0% { 
    transform: translateY(-15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
