.facts-item {
  position: relative;
}

.facts-item:last-child {
  animation: fadeIn .3s ease;
}

@keyframes fadeIn {
  0% { 
    transform: translateY(-15px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
